# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DATA FILES (VERY IMPORTANT)
# =========================
data/raw/
data/processed/
*.csv
*.parquet

# =========================
# ENV VARIABLES
# =========================
.env

# =========================
# FRONTEND (REACT)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/